nav {
  align-items: center;
  background-color: rgb(231, 216, 10);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.links-nav {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.link-home {
  font-size: 1.2em;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(120, 119, 119, 0.3);
}

.link-home:hover {
  text-decoration: underline;
}

.link-cart {
  font-size: 1.2em;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(120, 119, 119, 0.3);
}

.link-cart:hover {
  text-decoration: underline;
}

.cart {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;

}
