.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-super {
  align-items: center;
  background-color: rgb(231, 216, 10);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 1em;
}

.title {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.form-search {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 0.5em;

}

label {
  font-size: 18px;
  font-weight: 900;
  margin-right: 10px;
}

.form-search input {
  border: 3px solid aliceblue;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 8px;
  transition: border-color 0.5s;
  width: 300px;
}

.form-search input:focus {
  animation: pulse 1s infinite;
  outline: none;
}

@keyframes pulse {

  0% {
    border-color: #ccc;
  }

  50% {
    border-color: #809fd9;
  }

  100% {
    border-color: #ccc;
  }
}

.button-search, .button-cart {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 2em;
  font-weight: 800;
  margin-left: 0.5em;
}

.button-search:hover {
  transform: scale(1.2);
}

.button-cart:hover {
  transform: scale(1.2);
}

h2 {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: center;
}

.categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  width: 90%;
}

label[ for ] {
  font-size: 0.9em;
  margin-right: 0.5em;
}

input[ type = 'checkbox' ] {
  margin-right: 5px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
  width: 50%;
}

.card-product {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around ;

}

a {
  color: black;
  text-decoration: none;
}

p[ data-testid = 'product-detail-name' ] {
  font-size: 1.3em;
  padding: 1em;
  width: 15em;
}

img[ data-testid = 'product-detail-image' ] {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
  padding: 1em;

}

p[ data-testid = 'product-detail-price' ] {
  font-size: 1.5em;
  font-weight: 900;
  margin: 0.5em;
}

button[ data-testid = 'product-add-to-cart' ] {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 2em;
  margin-top: 5px;

}

button[ data-testid = 'product-add-to-cart' ]:hover {
  transform: scale(1.2);
}
